<?xml version ="1.0" encoding="utf-8"?>
<Events>
	<event name="심해화산폭발" stage="5">
		<description>
			[플레이어 캐릭터는 심해의 깊은 지점을 탐험 중입니다. 갑작스럽게 땅이 진동하고, 근처에서 폭발음과 함께 불길이 일었습니다.]

			플레이어: (놀라며) 무슨 일이야? 화산 폭발인가?

			[화산 폭발로 인해 주변 환경이 치명적인 위험으로 둘러싸여 있습니다. 플레이어는 생존과 탈출을 위해 대처해야 합니다.]
		</description>
		<action name="탈출경로탐색">
			<description>
				탈출할 경로를 찾아보자!
			</description>
			<surge>700</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>0</relic>
		</action>
		<action name="불길과 산성 기체 회피">
			<description>
				산성 기체를 피해야햇!
			</description>
			<surge>700</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>-3</relic>
		</action>
	</event>
	
	<event name="어둠" stage="5">
		<description>
			[플레이어 캐릭터는 심해의 깊은 지점을 탐험 중입니다. 갑작스런 암흑이 찾아와 주변이 어둠으로 가득합니다.]

			플레이어: (불안하게) 어떻게 된 거지? 빛이 사라졌어!

			[암흑 속에서 플레이어는 방향을 잃고, 주변 환경과 위험으로부터 탈출해야 합니다.]
		</description>
		<action name="조명 장치 활용">
			<description>
				어두워졌어 비상 조명이 있을까?!
			</description>
			<surge>250</surge>
			<fuel>-20</fuel>
			<food>-10</food>
			<oxygen>-70</oxygen>
			<relic>-5</relic>
		</action>
		<action name="감각을 집중시키기">
			<description>
				어두워졌어 시각을 제외한 다른 감각에 집중해보잣!
			</description>
			<surge>250</surge>
			<fuel>-20</fuel>
			<food>-10</food>
			<oxygen>-70</oxygen>
			<relic>0</relic>
		</action>
	</event>

	<event name="연료 누수" stage="4">
		<description>
			[플레이어 캐릭터는 심해의 깊은 지점을 탐험 중입니다. 갑작스러운 충돌로 인해 연료 누수가 발생합니다.]

			플레이어: (긴장하며) 누가 이런 짓을 한 거야? 연료가 새고 있어!

			[연료 누수로 인해 플레이어는 빠른 대응과 탈출을 위한 조치를 취해야 합니다.]
		</description>
		<action name="누수된 연료 막기">
			<description>
				연료가 새고 있어! 막아야해!
			</description>
			<surge>500</surge>
			<fuel>-50</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>0</relic>
		</action>
		<action name="비상 탈출 계획 세우기">
			<description>
				연료 누수가 너무 심해 안되겠어 비상 탈출이다!
			</description>
			<surge>500</surge>
			<fuel>-50</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>-10</relic>
		</action>
	</event>

	<event name="해류" stage="4">
		<description>
			[플레이어 캐릭터는 심해의 깊은 지점을 탐험 중입니다. 갑작스러운 해류가 발생하여 플레이어가 그 힘에 휩쓸려갑니다.]

			플레이어: (놀라며) 무슨 일이야? 이 해류에 휩쓸려가!

			[해류에 휩쓸린 플레이어는 힘겨운 상황에서 자신을 구하기 위해 적절한 선택을 해야 합니다.]
		</description>
		<action name="저항과 방향 조작">
			<description>
				해류에 휩쓸리면 안돼! 어서 빠져나가자
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>0</relic>
		</action>
		<action name="구명 장비 활용">
			<description>
				해류에 휩쓸려버렸어.. 이게 도움이 될까?
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>-5</relic>
		</action>
	</event>

	<event name="대왕오징어의 출현" stage="3">
		<description>
			심해에 산다던 대왕오징어가 나타났다..!
			대왕오징어가 스멀스멀 다가오더니 잠수정의 앞부분에 붙어 시야를 가렸다.
			이를 어떡하지?
		</description>
		<action name="잠수정을 흔들어볼까?">
			<description>
				잠수정을 격하게 운전하여 대왕오징어를 떨쳐내보자.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>0</relic>
		</action>
		<action name="고주파 쏘기">
			<description>
				고주파를 쏴서 대왕오징어를 겁먹게 만들자.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>-5</relic>
		</action>
	</event>

	<event name="해저 문명인과의 조우" stage="3">
		<description>
			저기 멀리서 빛이 보인다. 가까이 다가간다.
			아니 저게 뭐지?! 인간처럼 생겼는데 그냥 물 안에서 떠있다.
			가까이 다가가볼까?
		</description>
		<action name="조명을 깜빡거리며 인사">
			<description>
				잠수정을 격하게 운전하여 대왕오징어를 떨쳐내보자.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>0</relic>
		</action>
		<action name="플라즈마건 미사일 쏘기">
			<description>
				플라즈마 미사일을 날려서 쫓아낸다.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>-5</relic>
		</action>
	</event>

	<event name="수상하게 생긴 말미잘 발견" stage="2">
		<description>
			수상하게 생긴 말미잘을 발견했다. 몸에서 군데군데 빛을 낸다.
			촉수같은 것이 뻐끔거리며 물을 마시고 있는 듯하다.
			이렇게 생긴 건 처음 보는데..?
		</description>
		<action name="가까이 다가간다.">
			<description>
				가까이 다가가서 채집해볼까?
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>0</relic>
		</action>
		<action name="사진만 찍고 도망간다.">
			<description>
				가까이 다가가면 무슨 일이 생길지 몰라.
				사진으로 남기고 도망가자.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>-5</relic>
		</action>
	</event>

	<event name="빛나는 물고기 떼" stage="2">
		<description>
			멀리서 보이는 빛을 따라 잠수정을 조종하여 다가갔다.
			몸에서 빛이 나는 물고기 떼다.
			아주 아름답다. 나도 모르게 시간이 가는 줄 모르고 감상한다.
			뭐..? 가까이 오라고? 어디선가 목소리가 들린다.
		</description>
		<action name="가까이 다가간다.">
			<description>
				빛을 바라보고 있으니 몽롱하고 기분이 좋다. 가까이 다가간다.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>0</relic>
		</action>
		<action name="더 강한 조명을 물고기에게 비춘다.">
			<description>
				이건 함정이야! 더 강한 빛을 쏘아서 물고기 형체를 분산시켜야겠어.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>-5</relic>
		</action>
	</event>

	<event name="거대한 쓰레기 더미" stage="1">
		<description>
			갑자기 어두운 그림자가 드리워진다.
			저 덩어리의 정체가 뭐지?
			가까이서 보니 거대한 쓰레기 더미이다.
			빠른 속도로 다가오고있다.
		</description>
		<action name="방향을 급하게 꺾어 회피하기">
			<description>
				무슨 쓰레기가 이렇게나..!
				얼른 방향을 꺾어 도망가자.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>0</relic>
		</action>
		<action name="쓰레기 더미 조사하기">
			<description>
				부딪히지 않게 속도를 맞추며 쓰레기 더미를 조사했다.
				빛이나는 것들이 보인다.
				이것은 유물..!!
				유믈 덩어리를 발견했다.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>-5</relic>
		</action>
	</event>

	<event name="어디선가 들려오는 노랫소리" stage="1">
		<description>
			어디서 아름다운 노랫소리가 들려온다.
			저 실루엣은.. 인어?
			노래를 불러 배를 난파시켰다던 인어의 전설이 사실이었나?
			아니 근데 심해에도 인어가 있다고? 뭔가 이상해.
		</description>
		<action name="귀를 막고 도망가기">
			<description>
				수상하니 어서 귀를 막고 도망간다.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>0</relic>
		</action>
		<action name="노래 감상하기">
			<description>
				노래를 계속 듣다보니 구절이 계속 반복된다.
				인어가 아닌 것 같아..!
				가까이 다가가보니 인어 형체의 유물이었다.
				유물에서는 녹음된 노래가 계속 흘러나오고 있었다.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>-5</relic>
		</action>
	</event>

	<event name="물기둥 발견" stage="1">
		<description>
			저 하얀 물기둥은 뭐지?
			아래로 점점 퍼져나가고 있어.
			저기서 산소를 좀 얻을 수 있을까?
		</description>
		<action name="도망가기">
			<description>
				수상하니 어서 도망간다.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>0</relic>
		</action>
		<action name="가까이 가서 조사하기">
			<description>
				이건 얼음 기둥이야! 계속 주변을 얼리면서 퍼져나가고 있어.
				닿는 생명체마다 얼고 있잖아..!
				잠수정의 일부분이 닿아서 냉손상을 얻었다.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>-5</relic>
		</action>
	</event>

	<event name="화가난 상어" stage="1">
		<description>
			무언가가 잠수정에 부딫쳤다.
			상어잖아! 그런데 왜 이렇게 화가 나있는거지?
		</description>
		<action name="먹이를 주기">
			<description>
				고기를 던져서 상어를 다른 곳으로 유인해보자!
				
				고기를 던져서 상어를 다른 곳으로 유인했지만 소용이 없었다.
				상어 옆에 조그마한 덩어리가 보였다.
				알고보니 아기 상어였다. 엄마 상어라서 위협을 받았구나..!
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>0</relic>
		</action>
		<action name="도망가기">
			<description>
				화가 났다니, 손 쓸 수 없겠군!
				어서 속도를 올려 도망가자!
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>-5</relic>
		</action>
	</event>

	<event name="고장난 잠수정" stage="1">
		<description>
			잠수정이 갑자기 멈췄다.
			무슨 일이지?
		</description>
		<action name="속도를 올린다.">
			<description>
				속도를 올려서 그 자리를 빠져나간다.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>0</relic>
		</action>
		<action name="밖에 나가서 확인하기">
			<description>
				밖에 나가서 확인해보자. 무슨 일이 일어난거야?
				
				해초가 외부 프로펠러에 엮여서 나아가지 않았다.
			</description>
			<surge>300</surge>
			<fuel>-10</fuel>
			<food>-5</food>
			<oxygen>-50</oxygen>
			<relic>-5</relic>
		</action>
	</event>
</Events>